
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body { 

  background: rgb(78, 247, 255);
}

#sticky {
  position: fixed;
  left: 0rem;
  right: 0rem;
  top: -2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-flow: row wrap; 
  background: rgb(204, 162, 32);
  border-color: rgb(40, 40, 40);
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  color: rgb(40, 40, 40);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;

}

.title {
  display: flex;
  align-items: center; 
  flex-direction: column; 
  width: 70rem;
  background: rgb(32, 204, 164);
  border-color: rgb(40, 40, 40);
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  color: rgb(40, 40, 40);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2rem;
  padding: 1rem;
}

.nav-ul {
  display: flex;
  flex: 1; 
  align-items: stretch; 
  flex-direction: row; 
  list-style-type: none; 

}

.nav {
  display: inline-flex;
  flex: 1; 
  align-items: flex-start; 
  flex-direction: column; 
  flex-flow: row;
  font-style: oblique;
  text-align: center;
  list-style-type: none;
  background: rgb(32, 204, 164);
  border-color: rgb(40, 40, 40);
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  color: rgb(40, 40, 40);
  margin-left: 5%;
  margin-right: 5%;
  max-width: 80%;
}

#html {
  text-align: center;
  padding-left: 3px;
}


.content {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.notebook {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding-top: 18rem;
}
/*
.item {
  display: flex;
  flex: 1; 
  align-items: stretch; 
  flex-direction: column; 
}
*/

/*@media all and (min-width: 800px) {
.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  }

@media all and (min-width: 600px) {

}
*/
.notebook {
  display: flex;
  flex: 1;
}


.notebookTab {
  background: rgb(204, 162, 32);
  border-color: rgb(40, 40, 40);
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  color: rgb(40, 40, 40);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2rem;
  padding: 1rem;
}

.cards {
  background: rgb(32, 204, 164);
  border-color: rgb(40, 40, 40);
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  color: rgb(40, 40, 40);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2rem;
  padding: 1rem;
  max-width: 20%;
}

.journal {
  text-align: center;
}

.flexContainer {
  flex-flow: row wrap;
  display: flex;
    
}

.stickyfoot {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: space-around;
  padding-top: 1rem;
}



